body {
    background-color: beige;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 26px;
    text-align: center;
}


h1 {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 26px;
}